header {
    background: #E5E5E5;
    padding: 20px 0;
}

.caja{
    width: auto;
    margin: 0 auto;
}

.caja h1{
    margin: 0 40px;
}

.rectangulo{
    width: 400px; /*400 560*/
    height: 600px;
    position: absolute;
    top: 40px;
    left: 922px;
    background: linear-gradient(#E5E5E5, #8ef0cb, #73ebba); 
    border: 0 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.imarec{
    width: 60%;
    position: absolute;
    top: 90px;
    left: 80px;
}

.cajaBotones{
    position: absolute;
    width: 680px;
    height: 67px;
    left: 200px;
    top: 573px;
}

.btEncriptar {
    position: relative;
    display: inline-block;
    color: #D8DFE8;
    border: solid;
    font-size: 16px;
    padding: 24px;
    cursor: pointer;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
  }

  .btDesencriptar {
    position: relative;
    display: inline-block;
    color: #0A3871;
    border: solid;
    font-size: 16px;
    padding: 24px;
    cursor: pointer;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
  }
  